In [24]:
import pandas as pd
import os

bb_csv = pd.read_csv("data/path_and_bounding_box.csv")
def from_class_to_yolo_cat(class_name):
    if class_name == "triton":
        return 1
    elif class_name == "grenouille-crapaud":
        return 2
    elif class_name == "planche":
        return 3
    elif class_name == "feuille":
        return 4
    elif class_name == "souris":
        return 5
    elif class_name == "insecte":
        return 6
    else:
        return -1
    
bb_csv['class'] = bb_csv['class'].transform(lambda x : int(from_class_to_yolo_cat(x)))

In [25]:
subset_c1 = bb_csv[bb_csv['class'] == 1].iloc[:225,:]
subset_c2 = bb_csv[bb_csv['class'] == 2].iloc[:200,:]
subset_c4 = bb_csv[bb_csv['class'] == 4].iloc[:200,:]
subset_c5 = bb_csv[bb_csv['class'] == 5].iloc[:197,:]
subset_c1
#a = bb_csv[ bb_csv['path'] == 'camera_02_unnested/2017-03-13T21_12_07.jpg']
#a

,class,top_left_x,top_left_y,w,h,img_size_x,img_size_y,name,date,takes,path
8,1,1295,382,99,183,1920,1080,2017-03-23T04:55:21.jpg,2017-03-23 04:55:21,5532,camera_04_unnested/2017-03-23T04_55_21.jpg
9,1,1315,357,96,194,1920,1080,2017-03-23T04:55:22.jpg,2017-03-23 04:55:22,5532,camera_04_unnested/2017-03-23T04_55_22.jpg
10,1,1312,368,118,158,1920,1080,2017-03-23T04:55:23.jpg,2017-03-23 04:55:23,5532,camera_04_unnested/2017-03-23T04_55_23.jpg
11,1,1301,363,110,141,1920,1080,2017-03-23T04:55:24.jpg,2017-03-23 04:55:24,5532,camera_04_unnested/2017-03-23T04_55_24.jpg
12,1,1306,351,104,146,1920,1080,2017-03-23T04:55:25.jpg,2017-03-23 04:55:25,5532,camera_04_unnested/2017-03-23T04_55_25.jpg
...,...,...,...,...,...,...,...,...,...,...,...
2008,1,740,485,99,166,1920,1080,2017-03-09T21:55:49.jpg,2017-03-09 21:55:49,3722,camera_04_unnested/2017-03-09T21_55_49.jpg
2009,1,735,491,87,163,1920,1080,2017-03-09T21:55:50.jpg,2017-03-09 21:55:50,3722,camera_04_unnested/2017-03-09T21_55_50.jpg
2010,1,752,502,65,186,1920,1080,2017-03-09T21:55:51.jpg,2017-03-09 21:55:51,3722,camera_04_unnested/2017-03-09T21_55_51.jpg
2011,1,735,510,90,175,1920,1080,2017-03-09T21:55:52.jpg,2017-03-09 21:55:52,3722,camera_04_unnested/2017-03-09T21_55_52.jpg
2012,1,752,527,70,180,1920,1080,2017-03-09T21:55:53.jpg,2017-03-09 21:55:53,3722,camera_04_unnested/2017-03-09T21_55_53.jpg

In [26]:
# creer un dossier labels
#labels = os.mkdir("data\labels")
def csv_to_yolo(subset) :
    for i in range(len(subset)) :
        name = subset.iloc[i,10].split(".")[0]
        file = open(r"data/labels/" + name + ".txt", "w")
        x_center = ((subset.iloc[i,1] + subset.iloc[i,3])/2)/subset.iloc[i,5]
        y_center = ((subset.iloc[i,2] + subset.iloc[i,4])/2)/subset.iloc[i,6]
        width = (subset.iloc[i,3] - subset.iloc[i,1])/subset.iloc[i,5]
        height = (subset.iloc[i,4] - subset.iloc[i,2])/subset.iloc[i,6]
        file.write(str(subset.iloc[i,0]) + " " + str(x_center) + " " + str(y_center) + " " + str(width) + " " + str(height))
        file.write("\n")
        file.close()

In [27]:
# Afficher le contenu des fichiers txt contenus dans le dossier labels
csv_to_yolo(subset_c1)

In [28]:
csv_to_yolo(subset_c2)

In [ ]:
csv_to_yolo(subset_c4)

In [ ]:
csv_to_yolo(subset_c5)